<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dou361.jjdxm_scan"
          xmlns:android="http://schemas.android.com/apk/res/android">


    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".BaseApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dou361.jjdxm_scan.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.dou361.scan.activity.CaptureActivity"/>

    </application>

</manifest>
